## 1. String
- sequence datatype
- immutable. Meaning a new String object is created everytime we make changes

### Methods
- casefold: creates lowercase string suitable for case insensitive operations. More **aggressive** than **lower**
- lower: takes every character and convert it to lowercase.
- upper: takes every character and convert it to uppercase.
- capitalize: returns a capitalized version of the string, i.e. it makes the first character upper case and the rest lower in **whole string**.
- title: returns the title cased version of the string, that is, every letter in the beginning of a **word** is made upper case and all others are made lower case:
- swapcase: returns a **new string object** in which all lower case characters are swapped to upper case and vice-versa.
- translate:  specify the translation table (used for replacement).
- strip: strip leading and trailing characters. we can also use **lstrip** or **rstrip**
- split: split string based on delimiter into **list of strings**
    - Takes two arguments: if sep is not provided or is None, then splitting takes place whenever there is whitespace.Leading and trailing ws is ignored. If sep is provided we split on every occurence of delimiter, however maxsplit parameter limits the number of splitting that occurs.
- replace: replaces one sub-string with another sub-string.
- count: counting number of times a substring appears in a string.

In [2]:
name = 'Ravisher Dhillon'

'Ravisher Dhillon'

## 2. Set
- unordered collection of unique objects. **No duplicates allowed. Duplicates will be deleted even if we have added in the set.**
Two Types
1. Sets:**Mutable**. New elements can be added **using add method** once sets are defined.
2. Frozen Sets: **Immutable**. New elements cannot added after its defined. it doesn't support **add method**

In [4]:
basket_set = {'apple', 'orange', 'apple', 'pear', 'orange'}
basket_set

{'apple', 'orange', 'pear'}

In [5]:
# Adding element to set
basket_set.add('banana')
basket_set

{'apple', 'banana', 'orange', 'pear'}

In [9]:
# Frozen Set
frozen_set = frozenset({'USA', 'Canada', 'Mexico'})
frozen_set

frozenset({'Canada', 'Mexico', 'USA'})

In [11]:
frozen_set.add('India')

AttributeError: 'frozenset' object has no attribute 'add'

## 3. List
Contains items separated by **,** and enclosed within **[ ]** bracket. The elements of list can be of **different datatype.**
**Mutable Data Structure**

In [12]:
country_list = ['USA', 'Canada', 'Mexico', 65297.52, 46193.73, 9946.03]
country_list

['USA', 'Canada', 'Mexico', 65297.52, 46193.73, 9946.03]

## 4. Dictionary
key value pair. Enclosed by **{ }** braces and values can be assigned and accessed using **[ ] brackets**.

### Methods
- keys() : return list of keys
- values(): return list of values

In [13]:
country_dict = {'USA': 65297.52, 'Canada': 46193.73, 'Mexico': 9946.03}
country_dict

{'USA': 65297.52, 'Canada': 46193.73, 'Mexico': 9946.03}

## 5. Tuple
Tuple elements are enclosed in **( ) parenthesis** and they are **immutable**.

In [14]:
country_tuple = ('USA', 'Canada', 'Mexico', 65297.52, 46193.73, 9946.03)
country_tuple

('USA', 'Canada', 'Mexico', 65297.52, 46193.73, 9946.03)